<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <% include templates/_navbar.html %>

        <% include templates/_sidebar.html %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <% include templates/_header.html %>

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <h1>Ini Endpoint</h1>
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->

        </div>
        <!-- /.content-wrapper -->

        <% include templates/_footer.html %>

    </div>
    <!-- REQUIRED SCRIPTS -->