<!-- My CSS -->
<link rel="stylesheet" href="dist/css/landing.css">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/">Serverless IoT Platform</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/">Developers</a>
                    <a class="nav-item nav-link" href="/">Contact Us</a>
                    <a class="nav-item nav-link" href="/register">Register</a>
                    <a class="nav-item tombol btn btn-primary" href="/login">Login</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- akhir navbar -->

        <!-- jumbotron -->
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4"> <span> Serverless </span> IoT <span> Platform </span></h1>
            </div>
        </div>
        <!-- akhir jumbotron -->

    <!-- container -->
    <div class="container">
        <!-- info panel -->
        <div class="row justify-content-center">
            <div class="col-10 info-panel">
                <div class="row">
                    <div class="col-lg">
                        <img src="dist/img/img/employee.png" alt="Employee" class="float-left">
                        <h4>24 Hours</h4>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="col-lg">
                        <img src="dist/img/img/hires.png" alt="Employee" class="float-left">
                        <h4>high-res</h4>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="col-lg">
                        <img src="dist/img/img/security.png" alt="Employee" class="float-left">
                        <h4>security</h4>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- akhir infor panel -->

        <!-- working space -->
        <div class="row workingspace">
            <div class="col-lg">
                <img src="dist/img/img/workingspace.png" alt="Working" class="img-fluid">
            </div>
            <div class="col-lg">
                <h3> Servrless <span>IoT</span> Platform</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, recusandae.</p>
            </div>
        </div>
        <!-- akhir working space -->

        <!-- testimonial -->
        <section class="testimonial">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h5> " Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum cupiditate illo
                        quisquam perferendis, nobis voluptate quis deserunt fuga inventore voluptatum. " </h5>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-6 justify-content-center d-flex">
                    <figure class="figure">
                        <img src="dist/img/img/img1.png" class="figure-img img-fluid rounded-circle" alt="Testi 1">
                    </figure>
                    <figure class="figure">
                        <img src="dist/img/img/img2.png" class="figure-img img-fluid rounded-circle utama" alt="Testi 2">
                        <figcaption class="figure-caption">
                            <h5>Fadlay Ye</h5>
                            <p> Front End Developer </p>
                        </figcaption>
                    </figure>
                    <figure class="figure">
                        <img src="dist/img/img/img3.png" class="figure-img img-fluid rounded-circle" alt="Testi 3">
                    </figure>
                </div>
            </div>
        </section>
        <!-- akhir testimonial -->

        <!-- footer -->
        <div class="row footer">
            <div class="col text-center">
                <p>&copy; 2020 all rights reserved by Serverless IoT Platform</p>
            </div>
        </div>
        <!-- akhir footer -->
        </div>
        <!-- akhir container -->